.contact-info {
    width:100%;
    min-height: 500px;
    padding-right: var(--content-padding);
    padding-left: var(--content-padding);
    background-color: var(--main-color);

    h4 {
        color: #e1e1e1;
    }
}