.inner-contact-info {
    margin-top: 1.5vw;
}

.contact-info {
    h4 {
        font-size: 30px;
        margin: 0;
    }
    p {
        margin: 0,0, 5px, 5px;
        font-size: 18px;
    }
    width:100%;
    min-height: 500px;
    padding-right: var(--content-padding);
    padding-left: var(--content-padding);
    background-color: var(--main-color);
    color: var(--contact-color);
    .contact-body {
        display: flex;
    }
    form {
        flex-basis: 520px;
    }
    aside {
        flex-basis: 217px;
        padding: 0px;
        padding-left: 20px;
        p {
        width: 100%;
        margin: 0;    
        font-size: 12px;
        }
    }
    input {
        display: block;
        padding: 0.5em 1.3em;
        font-size: 12px;
        font-family: var(--secondary-font);
        width: 100%;
        height: 38px;
        margin-bottom: 15.5px;
        background-color: var(--input-color);
        color: #aeaeae;
        border: 0;
    }
    #submit {
        background-color: var(--about-color);
        color: white;
        width: 30%;
        float: right;
    }
    .address {
        width: 100%;
        margin-top: 50px;
        font-size: 12px;
    }

}