button {
    border-radius: 5px;
    background-color: darkgray;
    font-family: var(--secondary-font);
    cursor: pointer;
}

canvas {
    width: 200px;
    height: 200px;
    margin: auto;
}

@media (min-width: 450px) {
    canvas {
    width: 400px;
    height: 400px;
    margin: auto;
}
}

.edit-container {
    padding-top: 15px;
}

.add-txt-or-props {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    button {
            height: 40px;
            width: 40px;
            margin: 2px 20px;
            font-size: 20px;
    }
    .add-txt {
        width: 120px;
        font-size: 15px;
    }
    .add-props {
    background-image: url(../assets/img/props.png);
    background-size: contain;
    background-position: center;
  
    }

    .saveMeme {
        background-image: url(../assets/img/genrateMeme.png);
        height: 80px;
        width: 80px;
        background-size: contain;
        background-position: center; 
        &:hover {
            border: 3px solid purple;
        }
    }
}



.text-editor {
    text-align: center;
}

.arrows {
    padding: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-family: OpenSans;
    color: #FFFFFF;
    background-color: #00FF7C;
    border: 1px solid #00FF7C;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #00823F;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    // button:first-child {
    //     display: block;
    //     margin: auto;
    // }
    
}
.arrows-pressed {
    box-shadow: 0 3px 0 #00823F;
    top: 3px;
}

.edit-buttons {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    input:first-child {
        display: block;
        width: 100%;
    }
}

.text-align {
    display: inline-block;
}



    .saveMeme {
    background-image: url(../assets/img/genrateMeme.png);
    height: 80px;
    width: 80px;
    background-size: contain;
    background-position: center; 
}
    
.edit-container {
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: 400px;

    .text-input {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        padding: 3px;

        input {
            width:100%;
        }
    }
}

  

