button {
    border-radius: 5px;
    background-color: darkgray;
    font-family: var(--secondary-font);
}

canvas {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

@media (min-width: var(--mobile-brakpoint)) {
    canvas {
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}
}

.edit-container {
    padding-top: 15px;
}

.add-txt-or-props {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    button {
            height: 40px;
            width: 40px;
            display: block;
            margin: 2px 0;
            font-size: 20px;
    }

    .add-props {
    background-image: url(../assets/img/props.jpg);
    background-size: contain;
    background-position: center;
  
    }

    .saveMeme {
        background-image: url(../assets/img/genrateMeme.png);
        height: 80px;
        width: 80px;
        background-size: contain;
        background-position: center; 
    }
}



.text-editor {
    text-align: center;
}

.arrows {
    padding: 1px;
    display: block;
    min-width: 105px;
    button:first-child {
        color: blue;
        display: block;
        margin: auto;
    }
    
}

.edit-buttons {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    input:first-child {
        display: block;
        width: 100%;
    }
}

.text-align {
    display: inline-block;
}



    .saveMeme {
    background-image: url(../assets/img/genrateMeme.png);
    height: 80px;
    width: 80px;
    background-size: contain;
    background-position: center; 
}
    
.edit-container {
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: 400px;

    .text-ixnput {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        padding: 3px;

        input {
            width:100%;
        }
    }
}

  

