

main {
    width: 100%;
    min-height:700px;
    background-color: white;
    padding: 0, 0, 89px, 0;
    display: flex;
    flex-direction: column;
}
@media (min-width: var(--mobile-brakpoint)) {

    main {
        width: 100%;
        min-height:700px;
        background-color: white;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0;
        padding-bottom: 89px;
        display: flex;
        flex-direction: column;
    }

    .imgs-container {
        padding-left: var(--content-padding);
        padding-right: var(--content-padding);

 }
}



.imgs-container {
        padding-top: 50px;
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      

 }

 .inner-imgs-container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     width: 100%;

     
 }

 .img-row {
     width: 100%;
     float: left;

        &:last-child {
         position: relative;
         top: -34px;
     }
 }

 .img-row > * {
     display: inline-block;
       
 }




//  .single-img {
//     min-width: 180px;
//     width: 180px;
//     height: 180px;
//     margin: 10px;

//     img {
//      width: 100%;
//      height: 100%;
//      }
//  }

.edit-container {
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: 400px;

    .text-input {
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        padding: 3px;

        input {
            width:100%;
        }
    }

   canvas {
    //    width: 100%;
    //    min-height: 300px;
       border: 1px solid blue;
   }

}

.tagscloud {
    display: block;
    margin: auto;
    width: 70vw;
}

.thumbs {
  width: 180px;
}

.options-container {
    text-align:center
}

.options-container button {
    width: 40vw;
    display: inline-block;
    text-align: center;
}

.search-img input {
    display: block;
    width: 50%;    
    margin-left: auto;
    margin-right: auto;
}

.tag-filter-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40px;
    border: 5px solid yellow;
        .tag-filter {
            background-color: turquoise;
            border: 2px solid black;
            position: relative;            
            width: 20%;
            height: 100%;
            padding-left: 5px;
            margin-right: 5px;
            display: inline-block;
            .close-tag:before {
                content: '✖';
                font-size: 10px;
            }
            .close-tag {
                position: absolute;
                top: -4px;
                right: 3px;
                cursor: pointer;
            }
        }
}


