

main {
    width: 100%;
    min-height:700px;
    background-color: white;
    padding: 0, 0, 89px, 0;
    display: flex;
    flex-direction: column;
}
@media (min-width: var(--mobile-brakpoint)) {

    main {
        width: 100%;
        min-height:700px;
        background-color: white;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 0;
        padding-bottom: 89px;
        display: flex;
        flex-direction: column;
    }

    .imgs-container {
        padding-left: var(--content-padding);
        padding-right: var(--content-padding);

 }
}



.imgs-container {
        padding-top: 50px;
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      

 }

 .inner-imgs-container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     width: 100%;

     
 }

 .img-row {
     width: 100%;
     float: left;
        &:last-child {
         position: relative;
         top: -34px;
     }
 }

 .img-row > * {
     display: inline-block;
       
 }

.thumbs {
  width: 180px;
  polygon {
      cursor: pointer;
  }
}




