.nav-container {
    width: 100%;
    background-color: #323232;
    color: #ffffff;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

}

.nav-wrapper {
    width: 90%;
}    

ul {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li {
    width: 15%;
    list-style: none;
}



img {
    width: 100%;
    position: relative;
    top:20px;
}