$container-width: 100%;
$mobile-breakpoint: 450px;
$content-padding:100px;

:root {
  /* breakPoints */
  --mobile-breakpoint: $mobile-breakpoint;
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  --content-padding: $content-padding;
  /* Fonts */
  --primary-font: Maven Pro;
  --secondary-font: Lato;
  /* Colors */
  --main-color: #323232;
  --sections-bg: #f0f0f0;
  --contact-color: #e0e0e0;
  --input-color: #454545;
  --about-color: #2eb398;

}


